<h1><%= name %>'s Todo List</h1>
<h1>hello</h1>
<!-- <% --- %> for using javascript logic like for loops and ifs
<%= ---- %> to inject the result of the javascript or variable reference as text into the html
<%- ---- %> for using some special EJS features like partials, will discuss later. -->